.container {
  width: 986px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
} 

.btn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #abb5be;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 4px 0px 0px 4px;
  padding: 12px 14px 12px 14px;
}

button:hover {
  background: #055160;
}